<div nz-col nzSpan="24">
  <div class="head-bar"><span>物料信息</span></div>
  <form nz-form class="detail-header-info">
    <nz-form-item>
      <nz-form-label nzSpan="8">物料编码</nz-form-label>
      <nz-form-control nzSpan="16">
        <div>{{materialInfo.code}}</div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="8">物料类别</nz-form-label>
      <nz-form-control nzSpan="16">
        <div>{{materialInfo.materialType | map: 'materialType2'}}</div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="8">物料分类</nz-form-label>
      <nz-form-control nzSpan="16">
        <div>{{materialInfo.firstLevel}} / {{materialInfo.secondLevel}} / {{materialInfo.thirdLevel}}</div>
      </nz-form-control>
    </nz-form-item>
    <div *ngIf="materialInfo.materialType === 2">
      <nz-form-item>
        <nz-form-label nzSpan="8">设备名称</nz-form-label>
        <nz-form-control nzSpan="16">
          <div>{{materialInfo.deviceName}}</div>
        </nz-form-control>
      </nz-form-item>
    </div>
    <nz-form-item>
      <nz-form-label nzSpan="8">物料名称</nz-form-label>
      <nz-form-control nzSpan="16">
        <div>{{materialInfo.name}}</div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="8">规格型号</nz-form-label>
      <nz-form-control nzSpan="16">
        <div>{{materialInfo.specificationModel}}</div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="8">计量单位</nz-form-label>
      <nz-form-control nzSpan="16">
        <div>{{materialInfo.unit}}</div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="8">图号</nz-form-label>
      <nz-form-control nzSpan="16">
        <div>{{materialInfo.drawingNumber}}</div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="8">材质</nz-form-label>
      <nz-form-control nzSpan="16">
        <div>{{materialInfo.material}}</div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="8">品牌</nz-form-label>
      <nz-form-control nzSpan="16">
        <div>{{materialInfo.brand}}</div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="8">进口或国产</nz-form-label>
      <nz-form-control nzSpan="16">
        <div>{{materialInfo.importOrDomestic}}</div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="8">重要程度</nz-form-label>
      <nz-form-control nzSpan="16">
        <div>{{materialInfo.importance}}</div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="8">物资分类</nz-form-label>
      <nz-form-control nzSpan="16">
        <div>{{materialInfo.materialClassification}}</div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="8">增值税税率</nz-form-label>
      <nz-form-control nzSpan="16">
        <div>{{materialInfo.taxRate}} %</div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="8">计划价</nz-form-label>
      <nz-form-control nzSpan="16">
        <div>{{materialInfo.planPrice}}</div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="8">总成或部装</nz-form-label>
      <nz-form-control nzSpan="16">
        <div>{{materialInfo.assemblyOrPart | map: 'assemblyOrPart'}}</div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="8">允许溢短装</nz-form-label>
      <nz-form-control nzSpan="16">
        <div>{{materialInfo.shortDress | map: 'shortDress'}}</div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="8">分工管理</nz-form-label>
      <nz-form-control nzSpan="16">
        <div>{{materialInfo.divideWorkId | map: 'divideWorkId'}}</div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzSpan="8">所属供应范围</nz-form-label>
      <nz-form-control nzSpan="16">
        <div>{{materialInfo.supplyRange | map: 'divideWorkId'}}</div>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

<div class="head-bar" nz-col nzSpan="24"><span>厂矿信息</span></div>
<form nz-form [formGroup]="form" class="form">
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired>计划员</nz-form-label>
    <nz-form-control nzSpan="18">
      <input formControlName="planner" nz-input />
      <nz-form-explain *ngIf="form.get('planner').dirty && form.get('planner').errors">必填项，请输入
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6">采购组</nz-form-label>
    <nz-form-control nzSpan="18">
      <nz-select class="selectStyle" formControlName="purchasingGroupName" nzAllowClear>
        <nz-option *ngFor="let item of purchasingGroupList" [nzLabel]="item.label" [nzValue]="item.value">
        </nz-option>

      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6">计划分解</nz-form-label>
    <nz-form-control nzSpan="18">
      <nz-select class="selectStyle" formControlName="planDec" nzAllowClear>
        <nz-option *ngFor="let item of materialTypeList" [nzLabel]="item.label" [nzValue]="item.value">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzSpan="6">旧编码</nz-form-label>
    <nz-form-control nzSpan="18">
      <input nz-input formControlName="oldCode" nzSize="default" />
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired>管理模式</nz-form-label>
    <nz-form-control nzSpan="18">
      <nz-radio-group [(ngModel)]="managementModel" nzName="radiogroup" [ngModelOptions]="{standalone: true}">
        <label nz-radio [nzValue]="0">物料编码</label>
        <label nz-radio [nzValue]="1">条码</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
</form>

<div nz-col nzSpan="24">
  <button nz-button class="editable-add-btn" (click)="addRow()">新增行</button>
  <nz-table #locationTable nzBordered [nzData]="locationDataSet" nzSize="small">
    <thead>
      <tr>
        <th nzWidth="50px" nzLeft="0px">默认</th>
        <th>储位</th>
        <th nzWidth="30%">保管员</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of locationTable.data;let i=index">
        <td nzShowCheckbox="true" nzLeft="0px" [(nzChecked)]="data._checked" (nzCheckedChange)="refreshStatus($event, data.id)">
        </td>
        <td>
          <app-location-selector [placeholder]="placeholder" [(ngModel)]="data.storageCode" (ok)="location($event)"
            style="width: 300px;"></app-location-selector>
        </td>
        <td>
          <span class="operate-text">{{data.keeperName}}</span>
        </td>
        <td>
          <nz-popconfirm [nzTitle]="'确定删除吗?'" (nzOnConfirm)="deleteRow(i)">
            <a nz-popconfirm>删除</a>
          </nz-popconfirm>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<div class="table-footer-bar">
  <button nz-button nzType="primary" nzGhost="true" (click)="save()">保存
  </button>
  <button nz-button nzType="primary" nzGhost="true" (click)="emitFinish()">取消
  </button>
</div>
