<form nz-form [formGroup]="form" class="form">
  <!-- <nz-form-item>
          <nz-form-label nzSpan="6" nzRequired>物料编码</nz-form-label>
          <nz-form-control nzSpan="18">
            <input formControlName="code" nz-input />
            <nz-form-explain *ngIf="form.get('code').dirty && form.get('code').errors">必填项，请输入</nz-form-explain>
          </nz-form-control>
        </nz-form-item> -->
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired>物料名称</nz-form-label>
    <nz-form-control nzSpan="18">
      <input nz-input formControlName="name"  />
      <nz-form-explain *ngIf="form.get('name').dirty && form.get('name').errors">必填项，请输入</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired>物料类别</nz-form-label>
    <nz-form-control nzSpan="18">
      <nz-select class="selectStyle" formControlName="materialType" (ngModelChange)="changeMaterialType($event)"
        nzAllowClear>
        <nz-option nzValue="" nzLabel="请选择"></nz-option>
        <nz-option [nzValue]="1" nzLabel="材料"></nz-option>
        <nz-option [nzValue]="2" nzLabel="备件"></nz-option>
        <nz-option [nzValue]="3" nzLabel="设备"></nz-option>
      </nz-select>
      <nz-form-explain *ngIf="form.get('materialType').dirty && form.get('materialType').errors">必填项，请输入</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired>物料分类</nz-form-label>
    <nz-form-control nzSpan="18">
      <nz-cascader class="selectStyle" (nzVisibleChange)="showMaterialClass($event)" (nzSelect)="selectMaterialClassItem($event)"
        formControlName="materialClassId" [(nzOptions)]="materialClassArry" nzPlaceHolder="请选择物料分类" (ngModelChange)="onChanges($event)">
      </nz-cascader>
      <nz-form-explain *ngIf="form.get('materialClassId').dirty && form.get('materialClassId').errors&&!getFormControl('materialClassId').hasError('isSelectedThird')">必填项，请输入
      </nz-form-explain>
      <nz-form-explain *ngIf="getFormControl('materialClassId').hasError('isSelectedThird')">请选择含有第三级的物料分类
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired>型号规格规范</nz-form-label>
    <nz-form-control nzSpan="18">
      <input formControlName="specificationModel" nz-input />
      <nz-form-explain *ngIf="form.get('specificationModel').dirty && form.get('specificationModel').errors">必填项，请输入</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired>计量单位</nz-form-label>
    <nz-form-control nzSpan="18">
      <nz-select nzPlaceHolder="请选择" class="selectStyle" formControlName="unit" nzAllowClear>
        <nz-option nzValue="吨" nzLabel="吨"></nz-option>
        <nz-option nzValue="个" nzLabel="个"></nz-option>
        <nz-option nzValue="套" nzLabel="套"></nz-option>
      </nz-select>
      <nz-form-explain *ngIf="form.get('unit').dirty && form.get('unit').errors">必填项，请输入</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired>图号</nz-form-label>
    <nz-form-control nzSpan="18">
      <input nz-input formControlName="drawingNumber" nzSize="default" />
      <nz-form-explain *ngIf="form.get('drawingNumber').dirty && form.get('drawingNumber').errors">必填项，请输入</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired>材质</nz-form-label>
    <nz-form-control nzSpan="18">
      <input nz-input formControlName="material" nzSize="default" />
      <nz-form-explain *ngIf="form.get('material').dirty && form.get('material').errors">必填项，请输入</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired>品牌</nz-form-label>
    <nz-form-control nzSpan="18">
      <input nz-input formControlName="brand" nzSize="default" />
      <nz-form-explain *ngIf="form.get('brand').dirty && form.get('brand').errors">必填项，请输入</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired>进口或国产</nz-form-label>
    <nz-form-control nzSpan="18">
      <nz-select nzPlaceHolder="请选择" class="selectStyle" formControlName="importOrDomestic" nzAllowClear>
        <nz-option nzValue="进口" nzLabel="进口"></nz-option>
        <nz-option nzValue="国产" nzLabel="国产"></nz-option>
      </nz-select>
      <nz-form-explain *ngIf="form.get('importOrDomestic').dirty && form.get('importOrDomestic').errors">必填项，请输入</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired>重要程度</nz-form-label>
    <nz-form-control nzSpan="18">
      <nz-select nzPlaceHolder="请选择" class="selectStyle" formControlName="importance" nzAllowClear>
        <nz-option nzValue="1" nzLabel="1"></nz-option>
        <nz-option nzValue="2" nzLabel="2"></nz-option>
        <nz-option nzValue="3" nzLabel="3"></nz-option>
        <nz-option nzValue="4" nzLabel="4"></nz-option>
      </nz-select>
      <nz-form-explain *ngIf="form.get('importance').dirty && form.get('importance').errors">必填项，请输入</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired>物资分类</nz-form-label>
    <nz-form-control nzSpan="18">
      <nz-select nzPlaceHolder="请选择" class="selectStyle" formControlName="materialClassification" nzAllowClear>
        <nz-option nzValue="保险件" nzLabel="保险件"></nz-option>
        <nz-option nzValue="一般件" nzLabel="一般件"></nz-option>
        <nz-option nzValue="常耗件" nzLabel="常耗件"></nz-option>
      </nz-select>
      <nz-form-explain *ngIf="form.get('materialClassification').dirty && form.get('materialClassification').errors">必填项，请输入</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="status === 2">
    <nz-form-label nzSpan="6">拒绝原因</nz-form-label>
    <nz-form-control nzSpan="18">
      <input nz-input formControlName="auditRemark" nzSize="default" />
      <nz-form-explain *ngIf="form.get('auditRemark').dirty && form.get('auditRemark').errors">必填项，请输入</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
</form>

<div class="btn">
  <div nz-col nzSpan="10"></div>
  <div nz-col nzSpan="12" style="margin-top: 30px;">
    <button nz-button nzType="primary" class="submit-button" nzGhost="true" (click)="save()">提报
    </button>
    <button nz-button nzType="primary" class="submit-button" nzGhost="true" (click)="emitFinish()">取消
    </button>
  </div>
</div>
