.page-wrap {
  .table-header-wrap {
    padding: 10px;
  }
  .table-footer-wrap {
    margin: 20px;
    text-align: center;
  }
}
.right-box-top-wrap{
  padding:10px;
  nz-form-item {
    margin-bottom: 5px;
  }
}
